<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @comment.roast_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', roasts_path %>

</div>
</div>
</div>