<div class="heading">
    <center><h1>Batch Logs</h1></center>
</div>
<div class="container">
<br>
<br>
<%= link_to 'New Roast', new_roast_path, class: "btn btn-success" %>    
    <br>
    <br>
    <table data-toggle="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
        <th class="th-sm">Batch #</th>
        <th class="th-sm" >Date</th>
        <th class="th-sm" data-sortable="true">Bean</th>
        <th class="remove th-sm">Roasting Notes</th>
        <th class="th-sm"> </th>
        </tr>
    </thead>
    <tbody>
    <% @reverse.each do |roast| %>
        <tr>
        <th scope="row"><%= roast.id %></th>
        <td><%= roast.date %></td>
        <td><%= roast.beans %></td>
        <td class="remove"><%= roast.roast_notes %></td>
        <td><%= link_to 'Open', roast_path(roast), class: "btn btn-primary" %></td>
        </tr>
        
        
    <% end %>
    </tbody>
    </table>
<br/>

</div>
<br/>