<div class="heading">
    <center><h1>Batch Logs</h1></center>
</div>
<div class="container">
<br>
<br>
<%= link_to 'New Roast', new_roast_path, class: "btn btn-success" %>    
    <br>
    <br>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Batch #</th>
        <th scope="col">Date</th>
        <th scope="col">Bean</th>
        <th class="remove" scope="col">Roasting Notes</th>
        <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
    <% @reverse.each do |roast| %>
        <tr>
        <th scope="row"><%= roast.id %></th>
        <td><%= roast.date %></td>
        <td><%= roast.beans %></td>
        <td class="remove"><%= roast.roast_notes %></td>
        <td><%= link_to 'Open', roast_path(roast), class: "btn btn-primary" %></td>
        </tr>
        
        
    <% end %>
    </tbody>
    </table>
<br/>

</div>
<br/>