<div class="heading">
    <h1>Notes</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            <h6>Post any useful information you find</h6>
            <br/>
            <div class="form-group">
                <%= simple_form_for :search, url: items_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                    <%= f.input :title, input_html: {value: ""}, label: false %> 
                    <%= f.submit "Search", class: "btn btn-primary", style:"margin-left: 2px;" %>
                <% end %>
            </div>
            <br/>
            <br/>
            <%= link_to 'New Note', new_item_path, class: "btn btn-success", style: "position: relative;
                bottom: 20px; right: 0px;" %>
                
                <% @rev_items.each do |item| %>
                <div class="item">
                    <% if item.user.avatar %>
                        <%= image_tag "#{item.user.avatar}", class: "avatar float-right" %>
                    <% else %>
                        <%= image_tag "https://media1.tenor.com/images/ed2ef9bceac44da18c2eb0711df61106/tenor.gif", class: "avatar float-right" %>
                    <% end %>
                <h2><%= item.title %></h2>
                <%= simple_format item.content %>
                <a href="<%= item.link %>" target="_blank">Go to page</a><br/>
                <p class="text-muted">
                    <small>
                        Posted on <%= item.created_at.to_formatted_s(:long) %>
                    </small>
                </p>               
                <%= link_to 'Edit', edit_item_path(item), class: "btn btn-warning" %><br/>
                </div>
                <% end %>
                
            
            <br/>
            <br/>
                
            <br/>
            <br/>
        </div>
    </div>
</div>