<div class="heading">
    <h1><%= @item.title %></h1>
</div>
<div class="container">
<br>
<a class="text-danger" href="<%= @item.link %>" target="_blank"><%= @item.link %></a>


<p><%= @item.content %></p>

<br><br><br>

<%= link_to 'Back to Notes', items_path, class: "btn btn-primary" %><br/>